{% extends "application.j2" %}

{% block content %}
    <div class="container" id="app">
        <div class="row m-3">
            <div class="col-sm">
                <div class="card card-body">
                    <span>Humididty</span>
                    <span class="content">{{ hum }}%</span>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <span>temperature</span>
                    <span class="content">{{ temp }}℃</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}